<div class="items-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 items-new-container">
        <h3 class="text-center text-white">商品登録して下さい</h3>
        <% if @item.errors.any? %>
           <div id=“error_explanation”>
             <h2><%= @item.errors.count %>件のエラーがあります。</h2>

             <ul>
             <% @item.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
           </div>
         <% end %>



        <%=form_for @item do |f|%>
        <%= f.label :"店舗名" %><br>
        <% shop_list = @shops.map{|shop|[shop.name ,shop.id]} %>
        <%= f.select :shop_id, shop_list %>

          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image%>
          </div>



          <div class="form-group">
            <%= f.label :name, class: 'text' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description, class: 'text' %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :price, class: 'text' %>
            <%= f.text_field :price, class: 'form-control' %>
          </div>


          <%= f.submit "商品登録", class: 'btn-block btn-block' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
